.App {
  text-align: center;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  /* background-image: url("./Images/c438878a-4f9b-48a2-a9f4-c699f86f1d48.png");
  background-size: cover; */
  /* background-color: rgb(226, 230, 253); */
  /* background: linear-gradient(90deg, rgba(0, 7, 36, 1) 0%, rgba(9, 75, 121, 1) 39%, rgba(0, 232, 255, 1) 100%); */
  /* overflow-y: none; */

}

html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 
html::-webkit-scrollbar-track {
 
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.826);
}

html::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(251, 2, 2, 0.747);
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}